
@media (min-width: 992px)
{

body{
    width: 100%;
    height: 100vh;
}

/*menu_de_navegacion*/

nav{
    padding-right: 120px;
    text-transform: uppercase;
}




.nav-item ul li::before{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: .3rem;
background-color:#2953B5;
transition: .5s;

}

.nav-item ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: .3rem;
    background-color:#960409;
    transition: .5s;

}


.nav-item ul li:hover a{
    color: #960409;
}
.imgselnet{
    padding-left: 100px;

}

.text-dar{
    color: #707070;
}

/*color_caja_index*/
.colordecaja{
    background-color:  #D9D9D9;
    height: 300px;

}

.imagendescarga{
    width: 570px;
    height: 500px;
   box-shadow: 0px 10px rgba(0,0,0,0.2,);
    cursor: default;
    transition: all 400ms ease;
   
}
.imagendescarga:hover{
    box-shadow: 5px 50px 20px rgba(0,0,0,0.4,);
    transform: translateY(-5%);

}
.imgendescargas{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 50px;
    left:15px;
}

footer {
width: 100%;
    height: 35%;
    margin-top: 100px;
     grid-area: pie;
     background-color: rgb(75, 75, 75);
     text-align: center;
     text-decoration: solid;
     color: #D9D9D9;
 
 }
 
.footerindex{
  position: fixed;
  bottom: 0;
  width: 100%;
   height: 100px;
    margin-top: 100px;
     grid-area: pie;
     background-color: rgb(75, 75, 75);
     text-align: center;
     text-decoration: solid;
     color: #D9D9D9;
}


 /*redes*/
 .imgredes{
     width: 35px;
     height:30px;
     margin: 4px;
     margin-top: 9px;
   }


   /*titulosindex*/

   .tituloindex{
    color: #960409;
    text-decoration: solid ;
   
  }
  
  .subtituloindex{
    color: dimgray;

  }
   /*logos*/

   .logohik{
    width: 250px;
   }

   .productoshik{
    display: flex;
    flex-direction: row;
  justify-content:space-evenly;
    
  }
  /*color_de_cajas_pages*/

  .color_de_cajas_pages{
    width: 100%;
    height:65%;
    background-color:  #D9D9D9;
  }


  /*logomarcas*/

  .imgmarca{
    width: 100%;
    height:90px;
  }
  .titulopages{
    position: relative;
    bottom: 105px;
    right: 850px;
  }

  .productoshik span:hover{
    transform: translateY(-5%);

  }

  /*tamaño_img_productos*/

  .imgsw{
    width: 150px;
  
  }
  .logo_SEGATE{
    width: 160px;
    position: relative;
    bottom: 40px;
    left: 80px;
  }


  /*logos_marcas_confi*/

  .logosconfi{
width: 210px;
padding-left: 50px;
  }

  .confi_logos{
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
  }

  .productos_logos{
    padding-left: 25px;
  }


  .productos_logos a :hover {
    transform: translateY(-5%);

  }


}

